<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helloworld</display-name>
  <welcome-file-list>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>homepage.htm</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registration</display-name>
    <servlet-name>registration</servlet-name>
    <servlet-class>registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>collegerequest</display-name>
    <servlet-name>collegerequest</servlet-name>
    <servlet-class>collegerequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>collegerequest</servlet-name>
    <url-pattern>/collegerequest</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>mailapp</display-name>
    <servlet-name>mailapp</servlet-name>
    <servlet-class>mailapp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailapp</servlet-name>
    <url-pattern>/mailapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincheck</display-name>
    <servlet-name>logincheck</servlet-name>
    <servlet-class>logincheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincheck</servlet-name>
    <url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check_clg</display-name>
    <servlet-name>check_clg</servlet-name>
    <servlet-class>check_clg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check_clg</servlet-name>
    <url-pattern>/check_clg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check_student</display-name>
    <servlet-name>check_student</servlet-name>
    <servlet-class>check_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check_student</servlet-name>
    <url-pattern>/check_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>event_selected</display-name>
    <servlet-name>event_selected</servlet-name>
    <servlet-class>event_selected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>event_selected</servlet-name>
    <url-pattern>/event_selected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>event_sel</display-name>
    <servlet-name>event_sel</servlet-name>
    <servlet-class>event_sel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>event_sel</servlet-name>
    <url-pattern>/event_sel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincheck1</display-name>
    <servlet-name>logincheck1</servlet-name>
    <servlet-class>logincheck1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincheck1</servlet-name>
    <url-pattern>/logincheck1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>compvolunteerregister</display-name>
    <servlet-name>compvolunteerregister</servlet-name>
    <servlet-class>compvolunteerregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compvolunteerregister</servlet-name>
    <url-pattern>/compvolunteerregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eventserv</display-name>
    <servlet-name>eventserv</servlet-name>
    <servlet-class>eventserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventserv</servlet-name>
    <url-pattern>/eventserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vol_register_course</display-name>
    <servlet-name>vol_register_course</servlet-name>
    <servlet-class>vol_register_course</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vol_register_course</servlet-name>
    <url-pattern>/vol_register_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepass</display-name>
    <servlet-name>changepass</servlet-name>
    <servlet-class>changepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepass</servlet-name>
    <url-pattern>/changepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpass</display-name>
    <servlet-name>forgotpass</servlet-name>
    <servlet-class>forgotpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpass</servlet-name>
    <url-pattern>/forgotpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>volregistration</display-name>
    <servlet-name>volregistration</servlet-name>
    <servlet-class>volregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>volregistration</servlet-name>
    <url-pattern>/volregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyregister</display-name>
    <servlet-name>companyregister</servlet-name>
    <servlet-class>companyregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyregister</servlet-name>
    <url-pattern>/companyregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view_certificate_file</display-name>
    <servlet-name>view_certificate_file</servlet-name>
    <servlet-class>view_certificate_file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view_certificate_file</servlet-name>
    <url-pattern>/view_certificate_file</url-pattern>
  </servlet-mapping>
  </web-app>